pre {
  font-size: 24px;
  font-weight: 600;
}
body {
  background-color: #e7b10a;
}
h1 {
  text-align: center;
  text-decoration: underline;
  padding: 40px;
}
span {
  font-size: 24px;
  font-weight: 400;
}
.Q div {
  position: relative;
  bottom: 52px;
  left: 40px;
}
.one pre {
  position: relative;
  left: 80px;
}
.Q {
  margin-left: 30px;
}

.answer pre {
  font-weight: 300;
  text-align: center;
  color: white;
}
